<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block titulo %}{% endblock %}</title>

    {% load static %}
    <link href="{% static 'inicio/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'inicio/css/londinium-theme.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'inicio/css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'inicio/css/icons.css' %}" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <script type="text/javascript" src="{% static 'js/plugins/charts/sparkline.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/uniform.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/inputmask.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/autosize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/inputlimit.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/listbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/multiselect.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/tags.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/switch.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/forms/uploader/plupload.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/uploader/plupload.queue.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/forms/wysihtml5/wysihtml5.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/forms/wysihtml5/toolbar.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/interface/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/fancybox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/jgrowl.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/colorpicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/fullcalendar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/interface/timepicker.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/application.js' %}"></script>
</head>

<body>
    <div class="page-container">
        
        <div class="sidebar">
            <div class="user-menu dropdown">
                <a href="#">
                    {% block imagen %}
                    
                    {% endblock %}
                    <div class="user-info">
                        <span>{% block text %}{% endblock %}</span>
                        
                    </div>
                </a>
            </div>

            <div class="sidebar-content">
                <!-- Menú de navegación -->
                <ul class="navigation">
                    <li><a href="{% url 'Principal' %}">Home</a></li>
                    <li><a href="{% url 'Formulario' %}">Registrar</a></li>
                    <li><a href="{% url 'Contactanos' %}">Contáctanos</a></li>
                    <li><a href="{% url 'Consultar' %}">Consultar</a></li>
                </ul>
               
            </div>
        </div>
        

        <div class="page-content">
           
            {% block encabezado %}
            
            {% endblock %}

            
            <div class="breadcrumb-line">
                <ul class="breadcrumb">
                 <a href="{%url 'Principal'%}">
                     {%if request.path == '/' %}
                          Principal
                     {% else %}
                         Principal{{request.path}}
                     {% endif %}         
                 </a>    
             
                </ul>
             </div>

           
            {% block contenido %}
            
            {% endblock %}
        </div>
    </div>
</body>
</html>

       
         
 